<h3>Your Movies:</h3>
<% @movies.each do |movie| %>
   • <a href="/movies/<%= movie.id %>"><%= movie.title %></a><br>
<% end %><br>
<form action="/movies/new" method="GET">
    <input type="submit" value="Add Movie">
</form>