<% if logged_in? %>
<h2>Hello there, <%= current_user.username %>!</h2>
<% end %>
<h3>All Movies</h3>

<form action="/movies/new" method="GET">
    <input type="submit" value="Add Movie">
</form><br><br>

<% @movies.each do |movie| %>
   • <a href="/movies/<%= movie.id %>"><%= movie.title %></a><br>
<% end %><br><br>

<form action="/users/<%= @user.id %>/delete" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" onclick="myFunction()" value="Delete Account">
</form>