<h3>Sign Up</h3><br>
<center>
<form action="/signup" method="POST">
    <input type="text" name="username" id="username" placeholder="username" required>
    <input type="password" name="password" id="password" placeholder="password" required>
    <input type="submit" value="Sign Up">
</form>
</center>