<form action="/reviews" method="POST">
    <p><label for="name">Name:</label>
    <input type="text" name="name" id="name"></p>
    <p><label for="text">Date:</label>
    <input type="text" name="date" id="text" value="<%= Time.now.strftime("%m/%d/%Y") %>" readonly></p>
    <p><label for="rating">Rating:</label>
    <select name="rating" id="rating">
        <option value="1">&#9733;</option>
        <option value="2">&#9733;&#9733;</option>
        <option value="3">&#9733;&#9733;&#9733;</option>
        <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
    </select></p>
    <p><label for="content">Comments:</label>
    <input type="text" name="content" id="content"></p>
    <input type="submit">
</form>