<form action="/reviews" method="POST">
    <p><input type="hidden" name="username" id="name" value="<%= current_user.username %>"></p>
    <p><input type="hidden" name="date" id="date" value="<%= Time.now.strftime("%m/%d/%Y") %>"></p>
    <p><label for="movie">Movie:</label>
    <select name="movie" id="movie">
        <% @movies.each do |movie| %>
        <option value="<%= movie.id %>"><%= movie.title %>
        <% end %>
    </select></p>
    <p><label for="rating">Rating:</label>
    <input type="number" min="0" max="5" name="rating" id="rating">/5</p>
    <p><label for="comment">Comments:</label>
    <textarea name="comment" id="comment"></textarea></p>
    <input type="submit">
</form>